<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/db_teaPingjia?useUnicode=true&amp;amp;amp;amp;amp;amp;characterEncoding=utf-8">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="toor"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.SQLServerDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/model/TAdmin.hbm.xml</value>
				<value>com/model/TTea.hbm.xml</value>
				<value>com/model/TStu.hbm.xml</value>
				<value>com/model/Erjizhibiao.hbm.xml</value>
				<value>com/model/Yijizhibiao.hbm.xml</value>
				<value>com/model/Fenshu.hbm.xml</value></list>
		</property>
	</bean>
	
	
	
	
	<!-- 后台的登录 -->
	<bean id="loginService" class="com.service.loginService">
		<property name="adminDAO">
			<ref bean="TAdminDAO" />
		</property>
		<property name="teaDAO">
			<ref bean="TTeaDAO" />
		</property>
		<property name="stuDAO">
			<ref bean="TStuDAO" />
		</property>
		<property name="yijizhibiaoDAO">
			<ref bean="YijizhibiaoDAO" />
		</property>
	</bean>
	
	
	
	
	<bean id="TAdminDAO" class="com.dao.TAdminDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="adminAction" class="com.action.adminAction" scope="prototype">
		<property name="adminDAO">
			<ref bean="TAdminDAO" />
		</property>
	</bean>
	
	<bean id="TTeaDAO" class="com.dao.TTeaDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="teaAction" class="com.action.teaAction" scope="prototype">
		<property name="teaDAO">
			<ref bean="TTeaDAO" />
		</property>
	</bean>
	
	
	
	<bean id="TStuDAO" class="com.dao.TStuDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="stuAction" class="com.action.stuAction" scope="prototype">
		<property name="stuDAO">
			<ref bean="TStuDAO" />
		</property>
	</bean>
	
	
	
	<bean id="YijizhibiaoDAO" class="com.dao.YijizhibiaoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="yijizhibiaoAction" class="com.action.yijizhibiaoAction" scope="prototype">
		<property name="erjizhibiaoDAO">
			<ref bean="ErjizhibiaoDAO" />
		</property>
		<property name="yijizhibiaoDAO">
			<ref bean="YijizhibiaoDAO" />
		</property>
	</bean>
	
	
	
	
	<bean id="ErjizhibiaoDAO" class="com.dao.ErjizhibiaoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="erjizhibiaoAction" class="com.action.erjizhibiaoAction" scope="prototype">
		<property name="erjizhibiaoDAO">
			<ref bean="ErjizhibiaoDAO" />
		</property>
		<property name="yijizhibiaoDAO">
			<ref bean="YijizhibiaoDAO" />
		</property>
	</bean>
	
	
	
	
	<bean id="FenshuDAO" class="com.dao.FenshuDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="pingFenAction" class="com.action.pingFenAction" scope="prototype">
		<property name="fenshuDAO">
			<ref bean="FenshuDAO" />
		</property>
		<property name="erjizhibiaoDAO">
			<ref bean="ErjizhibiaoDAO" />
		</property>
		<property name="stuDAO">
			<ref bean="TStuDAO" />
		</property>
	</bean>
	</beans>